// variable fonts
:root {
    --main-font : 'Assistant', sans-serif;
    --second-font : 'Playfair Display', serif;
}

:root {
    --color-btn : #FF9E53;
    --color-hover : #fa8e3b;
    --color-bg : #071cd4;
    --color-base : #ffffff;
    --font-color : #071C4D;
}

body {
    background-color: var(--color-base);
    color: #071c4d;
    font-family: var(--main-font)
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-login {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #173f9c;
        color: #fff;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

// header
header {
    padding: 180px 0px 165px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    margin-top: -70px;

    h1, p {
        color: #fff;
    }

    h1 {
        font-family: var(--second-font);
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started{
        background-color: var(--color-btn);
        color: #fff;

        &:hover {
            background-color: var(--color-btn);
            color: #fff;
        }
    }
}
// end header

// === statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        padding-left: 40px;
        background-color: #fff;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// popular
.section-popular {
    min-height: 540px;
    background-color: #071c4d;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2, p {
            color: #fff;
        }

        h2 {
            font-family: var(--second-font);
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

// section popular content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #fff;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #fff;
        }

        .travel-location {
            font-size: 26px;
            color: #fff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: var(--color-btn);
                color :#fff;

                &:hover {
                    background-color: #f77d21;
                    color : #fff;
                }
            }
        }
    }
}

// section networks
.section-network {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: var(--second-font);
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

// section-testimonial-heading
.section-testimonial-heading {
    padding-top: 50px;
    min-height: 506px;
    background: linear-gradient(#fff 0%, #ebfdfc 100%);

    h2 {
        font-family: var(--second-font);
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 22px;
            color: #6e6e6e;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }

        img {
            width: 180px;
            height: 180px;
        }
    }

    .btn-need-help {
        background-color: #d0d3d8;
        color: var(--color-base);

        &:hover {
            background-color: rgb(202, 198, 198);
            color: var(--color-base);
        }
    }

    .btn-get-started {
        background-color: var(--color-btn);
        color: var(--color-base);

        &:hover {
            background-color: var(--color-hover);
            color: var(--color-base);
        }
    }
}

// section footer
.section-footer {

    h5, a {
        color: var(--font-color);
        font-weight: bold;
    }
}

// === DETAILS CSS
.section-details-header {
    min-height: 310px;
    background: #E4E6EB;
    margin-top: -76px;

}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: var(--font-color);
        }
    }

    .card-details {        
        padding: 30px;
        border-radius: 11px;
        
        h1 {
            font-size: 26px;
            font-weight: bold;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            color: #b1b1b1;
        }

        h3 {
            font-weight: 600;
            font-size: 14px;
            color: #071c4d;
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #173f9c;
            color: var(--color-base);
            
            &:hover {
                background-color: var(--color-bg);
                color: var(--color-base);
            }
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: var(--font-color);
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }

            .text-orange {
                color: #f77d21;
                font-weight: bold;
            }
        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            columns: #b1b1b1;
        }

        .bank {
            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: var(--font-color);
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .descriptions {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: var(--font-color);
                    }
                }
            }
        }
    }



    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.features {
    margin-top: 20px;

    h3 {
        color: var(--font-color);
        margin-bottom: 0;
        font-size: 18px;
    }

    p {
        margin-bottom: 0;
    }

    .descriptions {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }

    .featured-image {
        width: 45px;
        height: 45px;
        float: left;
    }
}

.gallery {
    .xzoom-container {
        display: block;

        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive {
            border: 4px solid #1abc9c;
            box-shadow: none;
        }
    }
}

.member {
    .member-image {
        width: 40px;
        height: 40px;
    }
}

.join-container {
    margin-top: -20px;
    border-radius: 0;
}

.btn-join-now {
    color: var(--color-base);
    background-color: var(--color-btn);

    &:hover {
        background-color: var(--color-hover);
        color: var(--color-base);
    }
}

.cek {
    background-color: red;
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071C4D;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        background-color: var(--font-color);
        border-radius: 4px;
        color: var(--color-base);

        &:hover {
            background-color: var(--color-bg);
            color: var(--color-base);
        }
    }
}